#map {
  width: 100%;
  height: calc(100vh);
}

.search {
  z-index: 1;
  position: fixed;
  top: 5px;
  left: 5px;
}

.search-field-box {
  width: 275px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #2A4694;
}

ul {
  background: white;
  border: 2px solid #2A4694;
  border-top: none;
  border-bottom: none;
  padding: 0px;
  margin: 0;
  max-height: 200px;
  max-width: 275px;
  overflow: auto;
  text-align: center;
}

.box {
  cursor: pointer;
  padding: 5px;
}

.box:hover {
  background-color: #269abc;
  color: white;
}

.button {
  text-align: center;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #2A4694;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  width: 275px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #2a4694;
  border-radius: 3px;
}

/* 
* media query
*/
@media screen and (max-width: 480px) {
  .button, .search-field-box {
    height: 48px;
  }
}